.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

/* App.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3498db; /* Blue color */
  color: #fff;
}

.button-container {
  display: flex;
  align-items: center;
}

.connect-wallet-button,
.disconnect-wallet-button,
.claim-button {
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #2980b9; /* Darker blue color */
  transition: background-color 0.3s ease;
}

.connect-wallet-button.disconnected {
  background-color: #2ecc71; /* Green color */
}

.disconnect-wallet-button {
  background-color: #e74c3c; /* Red color */
}

.claim-button {
  background-color: #1e90ff; /* Dodger blue color */
}

.connect-wallet-button.loading,
.disconnect-wallet-button.loading {
  cursor: not-allowed;
  opacity: 0.7;
}

.connect-wallet-button:active,
.disconnect-wallet-button:active,
.claim-button:active {
  background-color: #21618c; /* Dark blue color on button press */
}
.register-organization-container {
  margin: 20px;
}

.register-section {
  margin-bottom: 20px;
}

h3 {
  color: #333;
}

input {
  margin-right: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


@keyframes colorAnimation {
  0% {
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  }
  25% {
    background: linear-gradient(45deg, #0000ff, #ff0000, #00ff00);
  }
  50% {
    background: linear-gradient(45deg, #00ff00, #0000ff, #ff0000);
  }
  75% {
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  }
  100% {
    background: linear-gradient(45deg, #0000ff, #ff0000, #00ff00);
  }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.claim-button {
  background-color: transparent;
  color: green;
  border: 2px solid green;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.claim-button:hover {
  background-color: green;
  color: white;
}
